.chat-item {
  position: relative;
  width: 40vw;
  height: 100px;
  border-bottom: 2px solid rgba(230, 230, 230, 255);
  color: rgba(100, 100, 100, 255);
  box-sizing: border-box;
  display: flex;
  background-color: white;
  padding-left: 10px;
}

.chat-item-photo {
  height: 53px;
  min-width: 53px;
  box-sizing: border-box;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto 15px;
}

.chat-item span {
  font-size: 13px;
  position: absolute;
  right: 25px;
  top: 20px;
}
.chat-item .text {
  max-width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.chat-item h3 {
  margin: 0;
}

.chat-item p {
  margin: 0;
  overflow: hidden;
  max-height: 40px;
  width: 70%;
}

.notification {
  background-color: green;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .chat-item {
    min-width: 384px;
  }
}

@media (max-width: 768px) {
  .chat-item {
    width: 50vw;
  }
}

@media (max-device-width: 568px) {
  .chat-item {
    width: 100vw;
  }
}
