.message-item {
  box-sizing: border-box;
  max-width: 80%;
  position: relative;
  right: 0px;
}

.message {
  display: flex;
  box-sizing: border-box;
  /* background-color: red; */
  padding-right: 0;
  margin-top: 10px;
  margin-bottom: 2px;
  margin-left: 0;
}

.message-text {
  background-color: rgba(62, 70, 87, 255);
  color: white;
  border-radius: 22px;
  min-height: 45px;
  max-width: 80%;
  box-sizing: border-box;
  padding: 12px;
  margin: auto 0;
}

.message-time {
  padding-left: 95px;
  font-size: 12px;
  color: rgba(100, 100, 100, 255);
}

.message .photo {
  height: 53px;
  min-width: 53px;
  box-sizing: border-box;
  border-radius: 50%;
  background: url(../../avatar/Josefina.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto 15px;
}

.users {
  position: relative;
  width: 80%;
  left: 20%;
  text-align: left;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 10px;
  margin-bottom: 2px;
  /* max-width: 80%; */
  word-wrap: break-all;
  overflow-wrap: break-word;
}

.users .message-text {
  background-color: rgba(231, 231, 231, 255);
  color: rgba(100, 100, 100, 255);
  margin-top: -10px;
  /* max-width: 50vw; */
  word-wrap: break-all;
  overflow-wrap: break-word;
}

.users .photo {
  visibility: collapse;
}

.users .message-time {
  padding-right: 10px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .users .message-text {
    /* max-width: 45vw; */
  }
}

@media (max-width: 768px) {
  .users .message-text {
    /* max-width: 35vw; */
  }
}
