.search-panel {
  position: relative;
  width: 40vw;
  height: 200px;
  background-color: rgba(249, 249, 249, 255);
  border-bottom: 2px solid rgba(230, 230, 230, 255);
  /* border-right: 2px solid rgba(230, 230, 230, 255); */

  border-top: 0.1px solid rgba(230, 230, 230, 255);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.avatars-block {
  width: 100%;
  height: 100px;
  display: flex;
  padding: 25px;
  padding-bottom: 15px;
  box-sizing: border-box;
}

.photo {
  height: 53px;
  min-width: 53px;
  box-sizing: border-box;
  border-radius: 50%;
  background: url(/public/avatar/User.png);
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto 15px;
}
.search-block {
  padding: 25px;
  position: relative;
}

.search-input {
  width: 100%;
  box-sizing: border-box;
  border: 2px solid rgba(230, 230, 230, 255);
  border-radius: 25px;
  font-size: 20px;
  padding: 10px 20px;
  padding-left: 45px;
  line-height: 30px;
  padding-right: 50px;

  font-family: "Mulish", sans-serif;
  color: rgba(100, 100, 100, 255);
}

.search-input:focus {
  outline: solid 2px rgba(157, 235, 244, 255);
  border: 2px solid white;
}

.search-input::placeholder {
  color: rgba(200, 200, 200, 255);
}

.search-panel .material-symbols-outlined {
  color: rgba(100, 100, 100, 255);
  font-size: 30px;
  position: absolute;
  top: 40px;
  left: 40px;
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .search-panel {
    min-width: 384px;
    z-index: 2;
    /* position: static; */
  }
}

@media (max-width: 768px) {
  .search-panel {
    width: 50vw;
    z-index: 2;
  }
}

@media (max-device-width: 568px) {
  .search-panel {
    width: 100vw;
    z-index: 2;
  }
}
